.card{
  background-color: rgb(20, 243, 243);
  max-width: 200px;
  border: 1px solid black;
  border-radius: 6px;
  margin: 10px;
  padding: 2px;
  font-family: sans-serif;
  text-align: center;
  display: inline-block;
}
.card img{
  width: 190px;
  margin: auto;
  display: block;

}